.listing-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.display-listings {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.listing-card {
    font-size: 1.5rem;
    justify-content: justify;
    justify-content: center;
}
.listings-page-imgs {
    
    height: 80%;
    width: 80%;
}