.footer {
    height: 85px;
    left: 0px;
    bottom: 0px;
    background: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    position: fixed;
    width: 100%;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    /* visibility: hidden; */
}

/* footer::hover {
    visibility: visible;
} */

.footer__icons {
    justify-content: center;
    padding: 10px;
    }

.footer__name {
  
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #853e4a;
    font-weight: bolder;
    text-shadow: 0px 4px 4px rgba(32, 32, 32, 0.15);
}