.landingPageContainer {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh;
  width: 100vw; */
  background-color: #f5f5f5;
}

.splashImage {
    height: 90vh;
    background: url("https://res.cloudinary.com/dexkxkrfp/image/upload/v1637224888/HauteFinder/Images/landing-page-img_uvgdjv.jpg");
    background-size: cover;
    background-position: center;
    position: sticky;
    top: 200px;
   
}

.welcomePageMessage {
  
  position: absolute;
  width: 600px;
  height: 500px;
  right: 5%;
  top: 15%;
  font-size: 36px;
  margin-left: 700px;
 
  /* line-height: 44px; */
  /* text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}
.welcomePageMessage h2 {
  color: #853e4a;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  justify-content: justify;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}
@media (max-width: 900px) {
  .welcomePageMessage {
    display: none;
  }
}
.demo-login-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  right: 35%;
  top: 45%;
  font-size: 18px;
  margin-left: 700px;
  border: 2px solid #853e4a;
  color: #853e4a;
  border-radius: 3px;
  /* text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25); */

}
.demo-login-btn:hover {
  background-color: #853e4a;
  color: white;
}

