.auth-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    align-self: center;
}

.login-form-container  {
    display: flex;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* align-content: center; */
    height: 400px;
    width: 400px;
    padding: 20px;
    margin: 20px;
    border-radius: 10%;
    background-color: #fafafa;
}

#login-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 20px;
    /* margin-left: 10%; */
    height: 300px;
    width: 400px;
}

/* .login-form-container input {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0 10px;
} */
#login-form form {
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-around; */
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100%;
    width: 100%;
}
/* .sign-up-label {
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
} */
#login-form input {
    height: 40px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    /* padding: 0 10px; */
}
#login-btns{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-self: center;
   
}

#login-btn {
    /* display: inline-block; */
    /* flex-direction: column; */
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 10px;
}

#demo-login-btn-auth-pages {
    height: 40px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0 10px;
}
#demo-login-btn-auth-pages:hover {
  background-color: #853e4a;
  color: white;
}