

.listing-view {
  padding-top: 100px;
  justify-content: center;
 

}
.listing-page-container {
 display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
}


.listing-details {
  display: flex;
  justify-content: center;
  /* align-content: center; */
  height: 60%;
  align-content: flex-start;
  top: 0;
}

.listing-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* align-content: center; */
  /* justify-self: center; */
  /* align-self: center; */
  justify-content: center;
  width: 50%;
  height: 30%;
  margin-top: 20px;

  margin-bottom: 10%;
  border: 1px solid #a83838;
  box-shadow: 1px 1px 7px #979494;
}
.heading {
  padding: 20px;
  padding-top: 50px;
  width: auto;
  text-align: center;
  
}
h1 {
  display: flex;
  font-size: 50px;
  justify-content: center;

  /* border-bottom: 1px solid #9b9696; */
  
}

/* .listing-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
} */

.listing-view-info {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  justify-content: justify;
  width: 60%;
  text-align: center;
  text-align: justify;
  color: rgb(68, 66, 66);
  padding: 20px;
}

.price-section {
  margin-top: 20px;
  padding: 20px;
  /* justify-content: space-between; */
}

.add-btn {
  /* height:200px;
  width:200px;
  display:flex; */
  /* justify-content:  center; */
  /* align-content: center; */
  /* margin-bottom:  40px; */

}

/* Modal */

.create-listing-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-title {
  display: flex;
  height: 100px;
  font-size: 40px;
  font-weight: bold;
  justify-content: center;
  /* align-content: flex-end; */
}

.create-listing-form {
  height: 600px;
  width: 650px;
  /* margin-top: 5%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6d1915;
  opacity: 0.9;
  align-content: center;
  border-radius: 20px;
}

.listing-view-container img {
  height: 60%;
  width: 60%;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* Error Handling */

/* .errors-container {
    
    padding: 20px;
   
} */
.error-title {
  padding-top: 5px;
  text-align: center;
}
.errors-listing-form-modal {
  justify-content: center;
  align-content: center;
  
  height: 155px;
  width: 390px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 20px;
  padding-bottom: 2px;
  color: rgb(185, 45, 45);
  background-color: #82a7a3;
  border-radius: 10px;
}

.create-listing-modal-content form {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 400px;
  align-items: center;
  align-content: center;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
  color: #f8f4f4;
}

.create-listing-modal-content input {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(175, 174, 174);
  padding: 5px;
  width: 300px;
  height: 40px;
  font-size: 20px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 20%;
  /* height: 100%; */
  padding: 0;
  margin-left: 3%;
  height: 100%;
  z-index: 1;
}
.right-bar {
  display: flex;
  flex-direction: column;
  /* position: fixed; */
  /* margin-top: 150px; */
  /* align-items: center; */
  /* justify-content: flex-start; */
  width: 15%;
  /* height: 100%; */
  padding: 0;
  margin-right: 3%;
}

input {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 40px;
  width: 200px;
}

#submit-listing {
  height: 40px;
  background-color: #82a7a3;
  border-radius: 5px;
  font-size: 15px;
}
#cancel-listing {
  height: 40px;
  margin-left: 10px;
  width: 90px;
  font-size: 15px;
  background-color: #c0b6b5;
  border-radius: 5px;
}

.listing-creation {

}
.create-listing-btn {
  /* position: relative; */
  width: 150px;
  height: 50px;
  background: #3e7f8a;
  color: white;
  font-size: 17px;
  border-radius: 3px;
  /* margin-left: 20px; */
  margin-bottom: 10px;
}

.nav-createListing-btn {
  
}

.delete-listing-btn {
  position: relative;
  width: 150px;
  height: 50px;
  background: #8a3e4b;
  color: white;
  font-size: 17px;
  border-radius: 3px;
  /* margin-left: 20px; */
}
.edit-listing-btn {
  position: relative;
  width: 150px;
  height: 50px;
  border: 2px solid #853e4a;
  /* background: #c0ac52; */
  /* color: white; */
  color: #853e4a;
  font-size: 17px;
  border-radius: 3px;
  /* margin-left: 20px; */
  margin-top: 20px;
  margin-bottom: 10px;
}

.add-to-bag-btn {
  position: relative;
  width: 150px;
  height: 50px;
  background: #5fbaca;
  color: white;
  font-size: 17px;
  border-radius: 3px;
  /* margin-left: 20px; */
}
/* .bottom-bar {
  display: flex;
  height: 100px;
  width: 100%;
} */
