.order-bag-container {
  display: flex;
  flex-direction: column;

  margin-top: 150px;
  margin-bottom: 10%;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
}
.order-totals {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #757373;
  font-size: 20px;
  padding: 10px;
  margin-top: 10px;
}
.order-totals h2 {
  padding: 10px;
}
.order-bag-list {
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}
.order-bag-items {
  margin-bottom: 20%;
  border-left: 1px solid #757373;
  border-right: 1px solid #757373;
  border-top: 1px solid #757373;
  /* padding: 10px; */
}
.bag-img {
  height: 45%;
  width: 45%;
}
.order-bag-item {
  
  padding: 15px;
  border-bottom: 1px solid #757373;
  /* justify-content: center;
  align-content: center; */
}

.checkout-btn {
  margin: 10px;
  width: 90px;
  font-size: 14px;
  height: 40px;
  border: 2px solid #853e4a;
  color: #853e4a;
  border-radius: 3px;
}

.checkout-btn:hover {
  background-color: #3e7f8a;
  border: 2px solid #3e7f8a;
  color: white;
}

.remove-from-bag-btn {
  /* margin: 10px; */
  width: 90px;
  height: 25px;
  border: 2px solid #853e4a;
  color: #853e4a;
  border-radius: 3px;
}
.remove-from-bag-btn:hover {
  background-color: #853e4a;
  color: white;
}
.empty-bag-btn {
  margin-left: 10px;
  width: 90px;
  height: 25px;
  border: 2px solid #853e4a;
  color: #853e4a;
  border-radius: 3px;
}
.empty-bag-btn:hover {
  background-color: #853e4a;
  color: white;
}
